:root {
  --header-bg-color: #280905;
  --header-font-color: white;
}

.home-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.headline-card {
  display: grid;
  position: relative;
}

.title-card {
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;

  background-color: rgba(255, 255, 255, 1);
  color: var(--header-bg-color);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Dancing-Script";
  border-radius: 10px;
  padding: 1rem;
}
