@font-face {
  font-family: "Roboto-Variable";
  src: url("/src/fonts/Roboto-VariableFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dancing-Script";
  src: url("./fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --header-bg-color: #280905;
  --header-font-color: white;
}

body {
  display: grid;
  grid-template-rows: auto 4fr auto;
  height: 100dvh;

  font-family: "Roboto-Variable";
}

#header {
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;

  background-color: var(--header-bg-color);
  color: var(--header-font-color);
  font-family: "Dancing-Script";

  padding: 0.5rem 1rem 0.5rem 1rem;
}

#nav-bar {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1rem;

  .nav-btn {
    border: none;
    cursor: pointer;
    transition: all 0.3 ease;
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
    font-size: large;
  }

  .nav-btn:hover,
  .nav-btn.selected {
    border-bottom: 1px solid var(--header-font-color);
    text-shadow:
      0 0 3px var(--header-font-color),
      0 0 7px var(--header-font-color),
      0 0 10px var(--header-font-color);
  }
}

#footer {
  background-color: var(--header-bg-color);
  color: var(--header-font-color);
  display: grid;
  place-content: center;
}
